body {  
    
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(../../img/fondo-degradado.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    color: #fff;
    display: cover;
    justify-content: center;
    align-items: center; 
    
}  

.navbar {  
    display: flex;  
    align-items: center;  
    justify-content: flex-start; /* Alinea los elementos al inicio */  
    padding: 10px 20px; /* Espaciado interior */  
    background-color: #333; /* Color de fondo de la barra */  
    color: white; /* Color del texto */  
}  

#studiopluss {  
    font-size: 1.5em; /* Tamaño de la fuente */  
    font-weight: bold; /* Negrita */  
    margin-left: 2px; /* Espacio de 2px entre el logo y el texto */
}

.logo {  
    height: 50px; /* Ajusta la altura del logo según sea necesario */
    border-radius: 10px;
}  

.menu {  
    margin-left: auto; /* Empuja el menú al extremo derecho */  
}

.menu ul {  
    list-style: none; /* Elimina los puntos de la lista */  
    margin: 0; /* Elimina margen */  
    padding: 0; /* Elimina padding */  
    display: flex; /* Muestra los elementos de la lista en línea */  
}  

.menu li {  
    margin: 0 ; /* Espacio entre los elementos del menú */  
}  

.menu a {  
    color: white; /* Color de los enlaces */  
    text-decoration: none; /* Sin subrayado */  
    padding: 5px 10px; /* Espaciado interior de los enlaces */  
}  

.menu a:hover {  
    background-color: #555; /* Cambia el fondo al pasar el ratón */  
    border-radius: 5px; /* Bordes redondeados */  
    display: inline-block; /* Muestra los elementos en línea */
}

.acceso-rapido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.acceso-rapido input[type="text"] {
    flex: 2; /* Hace que el campo de búsqueda ocupe más espacio */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.acceso-rapido button {
    flex: 1; /* Hace que los botones ocupen menos espacio */
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Espacio entre el campo de búsqueda y los botones */
    margin-right: 10px; /* Espacio entre los botones */; 
    width: 19%;
}



.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    padding-top: 60px; /* Place content 60px from the top */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
h1 {
    text-align: center;
    font-size: 100px;
}
#legend-cursos {

    border: #fff solid;
    border-radius: 10px;
    font-size: 30px;
}
.contenedor-cursos {
    display: flex;
    margin: 20px 25px 20px 25px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.contenedor-cursos a{
    border: 2px solid var(--hover-color, #2d2d2d);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
    width: 250px;
    min-width: 250px;
    min-height: 325px;
    align-items: center;
    text-decoration: none;
    margin: 10px;
}
.contenedor-cursos a span {
    background: var(--hover-color, #2d2d2d);
    color: #c8c8c8;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    padding: 0 .5rem;
    font-size: 1.5rem;
    transition:  background .2s ease-out;
    display: flex;
    font-family: 'Open Sans', sans-serif;
}
.contenedor-cursos a span:hover {
    background: var(--hover-color, #2d2d2d);
    color: #fff;
    transition-duration: .3s ;

}

.contenedor-cursos a img {
    width: 96px;
    height: 96px;
    border-radius: 10%;
}
.contenedor-cursos a img:hover {
    width: 150px;
    height: 150px;
    transition-duration: .3s ;
}
.contenedor-cursos a p {
    text-align: center;
    color: #fff;
}
@media (max-width: 768px) {
    .no-media-movil {
        display: none;
    }
    .media-movil {
        display: block;
        font-size: .9rem;
    }
    h1 {
        font-size: 3rem;
    }
}